<html>
    <!-- This page contains all registered groups (that are public) -->

    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Group</title>
    </head>
    <%- include('includes/nav.ejs'); %>
    <main>

    </main>
</html>
