<html>
    <!-- This page contains all registered groups (that are public) -->

    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groups</title>
    </head>
    <%- include('includes/nav.ejs'); %>
    <body>
        <% groups.forEach(function(g) { %>
            <div class="group">
                <div class="group_column">
                    <a href="/group/<%= g.groupID %>"><h2><%= g.groupName %></h2></a>
                    <br>
                    <figure class="group_thumb">
                        <img src="/placeholder.png"  class="group_image"><br>
                        <figcaption class="group_description"
                            <p><%= g.groupDesc %></p></figcaption>
                    </figure>
                    </div>
            </div><br>
        <% }); %>
    </body>
</html>
