<!DOCTYPE html>
<!-- this is a login page
authors: Ryan, Leah -->
<html>
    <head>
        <link rel="stylesheet" href="style.css">

        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <link rel="icon" href="/static/waveybook_icon.png">
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
      <!--this page will have:
       a navigation bar at the top
       2 columns, 1 for a slidshow of most popular content (for that week based on views) the other will be of the most recent uploads
       and a section at the bottom to show the teams contact information and any legal stuff
      -->
      <%- include('includes/nav.ejs'); %>

      <div class="main">

         <div class="title">
            <h1>WaveyBook</h1>
            <h2>Display your passion</h2><br>

         </div>

         <div class="main_container">

            <div class="slideshow middle">

               <div class="slides">
                  <input type="radio" name="r" id="r1" checked>
                  <input type="radio" name="r" id="r2">
                  <input type="radio" name="r" id="r3">
                  <input type="radio" name="r" id="r4">
                  <input type="radio" name="r" id="r5">

                  <div class="slide s1">
                     <img>
                  </div>
                  <div class="slide">
                     <img>
                  </div>
                  <div class="slide">
                     <imgg">
                  </div>
                  <div class="slide">
                     <img">
                  </div>
                  <div class="slide">
                     <img>
                  </div>
               </div>

               <div class="navigation">
                  <label for="r1" class="bar"></label>
                  <label for="r2" class="bar"></label>
                  <label for="r3" class="bar"></label>
                  <label for="r4" class="bar"></label>
                  <label for="r5" class="bar"></label>
               </div>

            </div>

         </div>

         <!--Colums containing dummy data -->


         <div class="sub_container">

            <div class="col_1">
               <h2>Most Shared</h2>
               <% popularUploads.forEach(function(u) { %> 
                  <div class="imagedisplay">
                     <p><%= u.caption %> </p>
                     <img src="/uploads/<%= u.fName %>">
                  </div>
               <% }); %> 
            </div>
            <div class="col_2">
               <h2>This weeks top groups</h2>
               <im >
               <img>
               <img>


            </div>

            <div class="col_3">
               <h2>Groups you might like</h2>
               <img>
               <img>
               <img>
            </div>


         </div>
      </div>

      <div class="footer">

      </div>

         <style>
         /* When screen width will less or 500px then it will apply */
            @media only screen and  (max-width:500px) {



               .main_container {
                  padding: 0px;
               }
               .title h1{
               font-size: 50px;
               text-align: center;
               padding-top: 20px;
              }
              .title h2{
               font-size: 25px;
               text-align: center;
              }
              .main_container p{
                 display: none;
                 margin: 20px
              }
              .main_container .title{
                float: none;
              }
              .slider-frame{
                 height:250px;
                 width: 355px;
                 margin-top: 0px;
                 margin: 20px;
                 border-radius: 30px;
                 align-items: center;
              }
              .sub_container{
                 width: 80%;
                 height: 150vh;
              }
              .footer{
                 display: none;
              }
              .sub_container h1{
                 font-size: 30px;
              }
              .col_1{
                 width: 45%;
                 height: 45%;
                 margin-left: 5px;
              }
              .col_2{
                 width: 45%;
                 height: 45%;
                 margin-right: 5px;
                 
              }
              .col_3{
                 width: 50%;
                 margin: 5px 0 0 65px;
                 height: 45%;

              }
              .imagedisplay p {
               margin: 0px;
               padding: 0px;
               font-size: 6px;
               }

              .slideshow{
               width: 350px;
               height: 200px;
               overflow: hidden;
                float: left;
               margin-top: -50px;
               margin-bottom: 0px;
               }

               .bar{
                  width: 20px;
                  height: 5px;
               }

               .title{
                  height: 60vh;
               }
            }
         </style>
    </body>



</html>
