<!DOCTYPE html>
<!-- this is a login page
authors: Fraser, Leah -->
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>

    <body>
      <!--this page will have:
       a navigation bar at the top
       a place to enter username and Password
       a button to submit as a login and a button to submit as a registration
       and a section at the bottom to show the teams contact information and any legal stuff
      -->
      <%- include('includes/nav.ejs'); %>
        <main>
          <div id="user">
            Join <%= users %> other users
          </div>
            <center>
            </br>
            </br>
            </br>
            <%- include('includes/alert.ejs'); %>
                <form action="/register" method="post">
                    Email<br>
                    <input type="email" name="email" class="inputfield"><br><br>
                    Username<br>
                    <input type="text" name="username" class="inputfield"><br><br>
                    Password<br>
                    <input type="password" name="pass1" class="inputfield"><br><br>
                    Confirm Password<br>
                    <input type="password" name="pass2" class="inputfield"><br><br>
                    <input type="submit" value="Sign up" class="inputbutton"><br><br>
                </form>
            </center>
        </main>
        <div class="contact">
          <p> Contact info and legal stuff here! </p>
        </div>
    </body>


</html>
