<!DOCTYPE html>
<!-- this is a support page
authors: Emily -->
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Support</title>
    </head>

    <body>
      <!--this page will have:
       a navigation bar at the top
       an information section to explain how the website works
       a section to show the teams contact information
      -->
      <%- include('includes/nav.ejs'); %>
      <div class="row">
         <div class="column">
              <p> Register and Login help</p>
         </div>
         <div class="column">
              <p> If you require addition support or wish to report an issue, contact us at teamlambda@outlook.com</p>
         </div>
      </div>

    </body>


</html>
