<!DOCTYPE html>
<!-- this is a support page
authors: Emily -->
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <!-- meta tag used to help css respond to mobile screens better  -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Support</title>
    </head>

    <body>
      <!--this page will have:
       a navigation bar at the top
       an information section to explain how the website works
       a section to show the teams contact information
      -->
      <%- include('includes/nav.ejs'); %>
      <div class="row">
              <h3> Getting started</h3>
              <p> To get started you should register an account using a valid email</p>
              <p> Once you are signed into your account you may view existing groups, create a new group or upload a picture and caption to an existing group</p>
              <h3> Groups Information</h3>
              <p>You may view existing groups on the groups page. To view the content uploaded to a group, click on the title of that group on the groups page.</p>
              <p>To create a group, go to the create group page and add a Group name and description</p>
              <p>To upload content to a group, go to the upload page. Then select the picture you wish to upload from your device, add a caption in the text field and select the relevsnt information about the picture.</p>
              <p style="color:white;">Please ensure the picture does not include personal information about yourself or your location, note that pictures taken on mobiles may store location information automatically.</p>
              <h3> Additional help</h3>
              <p> If you require additional support or wish to report an issue, contact us at teamlambda@outlook.com</p>
      </div>

    </body>


</html>
