<div id="navadmin">
    <div class="links">
        <a>Dashboard</a><br>
        <a>Upload Approval</a><br>
        <a>Reports</a><br>
        <a>Users</a><br>
        <a>Audit</a><br>
        <a>Groups</a>
    </div>
</div>