<div id="navadmin">
    <div class="links">
        <a href="/admin">Dashboard</a><br>
        <a href="/admin/approval">Upload Approval</a><br>
        <a href="/admin/reports">Reports</a><br>
        <a href="/admin/users">Users</a><br>
    </div>
</div>