<div id="navadmin">
    <div class="links">
        <a href="/admin">Dashboard</a><br>
        <a>Upload Approval</a><br>
        <a href="/admin/reports">Reports</a><br>
        <a>Users</a><br>
        <a>Audit</a><br>
        <a>Groups</a>
    </div>
</div>